* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
.container {
  width: 90vw;
  height: 70vh;
  border: 1px solid black;
  background-color: #852929;
  position: relative; /* Add this line */
}
.box {
  width: 14vw;
  height: 23vh;
  background-color: #31a3a7;
  border-radius: 340px;
  transition: width 2s, height 2s, background-color 2s;
  position: absolute; /* Add this line */
  bottom: 0; /* Add this line */
  left: 0; /* Add this line */
  animation: bounce 4s infinite; /* Adjust the duration as needed */
}

@keyframes bounce {
  0%, 100% {
    left: 0;
  }
  50% {
    left: calc(100% - 14vw); /* Adjust based on the width of the box */
  }
}
